<%= form_for :student do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :profile_image, "URL for Profile Image" %><br>
    <%= f.text_field :profile_image %>
  </div>
  <div class="actions">
    <%= f.submit "Login" %>
  </div>
<% end %>
