<!DOCTYPE html>
<html>
<head>
  <title>OurReads</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %> <!-- Turbolinks on or off? -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %> <!-- Turbolinks on or off? -->
  <%= csrf_meta_tags %> <!-- What is this for? -->
</head>
<body>
  <header id="banner">
    <h1><a href="/">Our Reads</a></h1>

      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li> | </li>
        <% if logged_in? %>
        <!-- FIX PATH FOR STUDENT SHOW PAGE -->
          <li><a href="/students/<%= current_user.id %>"><%= current_user.username %></a></li>
          <li> | </li>
          <li><%= link_to "Logout", logout_path %></li>
        <% else %>
          <li><%= link_to "Login", session_new_path %></li>
          <li> | </li>
          <li><%= link_to "Register", new_student_path %></li>
        <% end %>
      </ul>

  </header>

  <div id="container">
    <%= yield %>
  </div>

  <footer id="footer"><h4>Our Reads | May 2016</h4></footer>

</body>
</html>
